body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    height: 216px;
}

.info {
    background-color: #FFF;
    height: 216px;
}

.quote {
    background-color: #e5e7eb;
    height: 216px;
}

.calltoaction {
    background-color: #FFF;
    height: 216px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 18px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
