body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Narrow the content */
.header, .hero, .info, .quote, .calltoaction, .footer {
    padding-left: 275px;
    padding-right: 275px;
}

/* Size the background bars */
.hero, .info, .quote, .calltoaction {
    height: 600px;
}
.header, .footer {
    /* Size these Later? */
    height: 50px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button {
    cursor: pointer;
    padding: 8px 50px;
    border-radius: 8px;
}

.header {
    /* border: 2px solid lightblue; */
    background-color: #1f2937;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 22px;
}

.hero {
    /* border: 2px solid lightcoral; */
    background-color: #1f2937;
    /* padding-top: 18px;
    padding: 32px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-signup {
    /* border: 2px yellow solid; */
    height: 250px;
    /* display: flex;
    flex-direction: column; */
    flex: 1;
}

.hero-signup-head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-signup-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-signup-button {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

.hero-image {
    /* border: 2px red solid; */
    height: 256px;
    width: 400px;
    color: #E5E7EB;
    background-color: #6E747C;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}

.info {
    background-color: #FFF;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container-set {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* This needs to be refactored later. Text lengths alter
box location. */
.info-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-img {
    border:#3882f6 solid 6px;
    border-radius: 24px;
    height: 208px;
    width: 208px;
}

.info-text {
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote_main {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    padding-bottom: 8px;
}

.quote_sayer {
    font-size: 28px;
    font-weight: bold;
    align-self: end;
}

.calltoaction {
    background-color: #FFF;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 18px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
