body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Narrow the content */
.hero, .info, .quote, .calltoaction, .footer {
    padding-left: 100px;
    padding-right: 100px;
}

/* Size the background bars */
.hero, .info, .quote, .calltoaction {
    height: 500px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1f2937;
    padding-top: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 16px;
}

.sub-header {
    display: flex;
    border: 2px lime solid;
    padding: 32px 0px;
}

.hero-left {
    border: 2px yellow solid;
    display: flex;
    flex-direction: column;
}

.hero-left-head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-left-mid {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right {
    border: 2px red solid;
    height: 200px;
    width: 400px;
    background-color: #c9cbce;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.info {
    background-color: #FFF;
}

.quote {
    background-color: #e5e7eb;
}

.calltoaction {
    background-color: #FFF;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 18px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
